$orange:#EA4E1B;
$black:#000;
$white:#fff;

$grey-4:#3A3A3A;
$grey-3:#616062;
$grey-2:#949494;
$grey-1:#E9E9E9;
$lightGrey:#C4C4C4;

$neutrals-black:#1f1f1f;
$neutrals-grey:#DEDEDE;

$green:#44823F;
$red:#D6453D;

