
body{
    overflow-x: hidden;
    padding-top: calc(115px + 23px);
}


// ********************* Header *********************
#header,#footer,#toggle-menu-header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 115px;
    background-color: $black;
    @include TcontentTextMedium;
    color: $white;
    a{
        color: inherit;
        text-decoration: none;
        cursor: pointer;
    }
    .nav{
        & > li{
            display: inline-block;
        }
    }
    & > .container{
        display: flex;
        justify-content: space-between;
        & > .left{
           margin-top: 20px;
        }
        & > .right{
            display: flex;
            align-items: center;
            & > ul{
                display: flex;
                align-items: center;
                .phone{
                    @media (max-width:1264px) {
                        display: none !important;
                    }
                }
                & > li{
                    padding: 8px 0;
                    &.menu{display: none}
                    @include oneLine;
                    &.anim{
                        position: relative;
                        &::after{
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            transition: 0.5s width;
                            width: 0;
                            height: 2px;
                            border-radius: 1px;
                            background-color: $orange;
                        }
                        &:hover::after{
                            width: 100%;
                        }
                    }
                    margin-right: 16px;
                    cursor: pointer;
                    & > a.btn-orange-bg{
                        background-color: $orange;
                        padding: 8px 18px;
                        border-radius: 2px;
                        display: flex;
                        align-items: center;
                        color: $white;
                        text-decoration: none;
                        & > img{
                            margin-right: 4px;
                        }
                    }
                }
            }
         }
    }
}





#footer{
    padding-top: 23px;
    height: 150px;
    position: relative;
    margin-top: 30px;
}
#footer-copyright{
    color: $white;
    height: 72px;
    background-color: $black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a:not(:last-child){
        margin-right: 14px;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
}
#toggle-menu-header{
    width: 100%;
    height: calc(100vh - 115px);
    position: fixed;
    left: 0;
    top: 115px;
    background-color: $black;
    display: none;
    li{
        display: block;
    }
}