@import "../../scss/main";
.container{
    & > .project-card{
        margin-bottom: 30px;
        margin-right: 42px;
    }
}
.pages{
    display: flex;
    justify-content: flex-end;
    & > span{
        cursor: pointer;
        padding: 8px 11px;
        color: $grey-2;
        border-radius: 4px;
        &.active{
            background-color: $orange;
            color: $white;
        }
    }
}
.container{
    @media (max-width:990px) {
        .project-card{
            flex: 50%;
            margin-right: 0.1px;
        }
    }
}
.owl-prev, .owl-next {

    filter: brightness(0) invert(1);
    &:hover{
        background-color: inherit !important;
        filter: brightness(0) invert(0.5);
    }
}
.owl-prev { left: -10px; }
.owl-next { right: -10px; }






#form{
    width: 100%;
    padding: 37px 50px;
    background: $white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
     .content{
         position: relative;
        width: 100%;
        .top{
            margin-bottom: 36px;
            display: flex;
            justify-content: flex-start;
            .select-input{
                &.half{
                    width: 50%;
                }
                width: 100%;

                display: inline-block;
                position: relative;
                padding: 12px 0;
                margin-right: 24px;
                padding-left: 12px;
                min-width: 150px;
                padding-right: 15px;
                border: 1px solid $grey-2;
                border-radius: 4px;
                cursor: pointer;
                background-image: url("../../static/icon/select-close.svg");
                background-position: right 15px center;
                background-repeat: no-repeat;
                &.open{transform: rotate(180deg);}
                &::before{
                    content: attr(data-placeholder);
                    position: absolute;
                    top: -10px;
                    left: 22px;
                    color: $grey-2;
                    font-size: 12px;
                    background-color: $white;
                    height: 22px;
                    padding: 0 3px;
                }
                &::after{
                    position: relative;
                    content: attr(data-select);
                    top: 0;
                    left: 0;
                    color: $grey-4;
                }
            }
        }
        .down{
            display: flex;
            height: 87px;
            align-items: flex-end;
            .item{
                position: relative;
                height: 40px;
                &.room{margin-right: 54px}
                &.btn{margin-right: 65px}
                &.slide-range{
                    display: flex;
                    align-items: center;
                    flex: 40%;
                    margin-right: 67px;
                }
                .header{
                    @include TblockText;
                    position: absolute;
                    top: -32px;
                    left: 0;
                    color: $grey-4;
                }
            }
            .btn-orange-border{
                padding: 10px 28px;
                border-radius: 7px;
                background-color: $white;
                color: $neutrals-black;
                border: solid 1px $orange;
                font-size: 14px;
            }
        }
        
    }
    & > .alert{
        padding: 10px 50px;
        padding-right: 0;
        border-left: 1px solid #ccc;
        color: $neutrals-black;
        text-align: center;
        & > *{
            display: block;
            margin: 0 auto;
            text-align: center;
        }
        h4{
            font-size: 14px;
        }
        h2{
            font-size: 48px;
            line-height: 202.69%;
        }
        button{
            font-size: 12px;
            border: none;
            background-color: transparent;
            outline: none;
            cursor: pointer;
        }
    }
}

.container-checkbox{
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    line-height: 33px;
    text-align: center;
    user-select: none;

    /* Hide the browser's default checkbox */
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        // When the checkbox is checked, add a blue background 
        &:checked ~ .checkmark {
            background-color: $orange;
            color: $white;
        }
    }
    // Create a custom checkbox
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 33px;
    width: 33px;
    border-radius: 50%;
    background-color: $grey-1;
    transition: 300ms;
    color: $neutrals-black;
  }
}
.slidecontainer {
    width: 100%;
    @include select-range;
  }





  @media (max-width:1200px) {
    .top{
        margin-bottom: 72px !important;
    }
    .down{
        justify-content: space-between;
        flex-flow: wrap;
    }
}
@media (max-width: 990px) {
    .top{
        flex-flow: wrap;
        & > .select-input:not(.half){
            flex: 40%;
        }
        & > .select-input.half{
            margin-top: 24px;
            flex: 50%;
        }
    }
}
#form-filter-btn{display: none;}
@media (max-width: 770px) {
    #form{display: none;}
    #form-filter-btn{
        display: flex;
        justify-content: space-between;
        @include TblockText;
    }
}
@media (max-width: 375px) {
    #form-filter-btn{
        padding: 0 32px;
    }
}