@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.oneLine {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* contentText */
body, html {
  /* contentText */
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000;
}

body {
  overflow-x: hidden;
  padding-top: calc(115px + 23px);
}

#header, #footer, #toggle-menu-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
  width: 100%;
  height: 115px;
  background-color: #000;
  font-weight: 500;
  color: #fff;
}

#header a, #footer a, #toggle-menu-header a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

#header .nav > li, #footer .nav > li, #toggle-menu-header .nav > li {
  display: inline-block;
}

#header > .container, #footer > .container, #toggle-menu-header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header > .container > .left, #footer > .container > .left, #toggle-menu-header > .container > .left {
  margin-top: 20px;
}

#header > .container > .right, #footer > .container > .right, #toggle-menu-header > .container > .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header > .container > .right > ul, #footer > .container > .right > ul, #toggle-menu-header > .container > .right > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1264px) {
  #header > .container > .right > ul .phone, #footer > .container > .right > ul .phone, #toggle-menu-header > .container > .right > ul .phone {
    display: none !important;
  }
}

#header > .container > .right > ul > li, #footer > .container > .right > ul > li, #toggle-menu-header > .container > .right > ul > li {
  padding: 8px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 16px;
  cursor: pointer;
}

#header > .container > .right > ul > li.menu, #footer > .container > .right > ul > li.menu, #toggle-menu-header > .container > .right > ul > li.menu {
  display: none;
}

#header > .container > .right > ul > li.anim, #footer > .container > .right > ul > li.anim, #toggle-menu-header > .container > .right > ul > li.anim {
  position: relative;
}

#header > .container > .right > ul > li.anim::after, #footer > .container > .right > ul > li.anim::after, #toggle-menu-header > .container > .right > ul > li.anim::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: 0.5s width;
  transition: 0.5s width;
  width: 0;
  height: 2px;
  border-radius: 1px;
  background-color: #EA4E1B;
}

#header > .container > .right > ul > li.anim:hover::after, #footer > .container > .right > ul > li.anim:hover::after, #toggle-menu-header > .container > .right > ul > li.anim:hover::after {
  width: 100%;
}

#header > .container > .right > ul > li > a.btn-orange-bg, #footer > .container > .right > ul > li > a.btn-orange-bg, #toggle-menu-header > .container > .right > ul > li > a.btn-orange-bg {
  background-color: #EA4E1B;
  padding: 8px 18px;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-decoration: none;
}

#header > .container > .right > ul > li > a.btn-orange-bg > img, #footer > .container > .right > ul > li > a.btn-orange-bg > img, #toggle-menu-header > .container > .right > ul > li > a.btn-orange-bg > img {
  margin-right: 4px;
}

#footer {
  padding-top: 23px;
  height: 150px;
  position: relative;
  margin-top: 30px;
}

#footer-copyright {
  color: #fff;
  height: 72px;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer-copyright a:not(:last-child) {
  margin-right: 14px;
}

#footer-copyright a {
  text-decoration: none;
  color: inherit;
}

#toggle-menu-header {
  width: 100%;
  height: calc(100vh - 115px);
  position: fixed;
  left: 0;
  top: 115px;
  background-color: #000;
  display: none;
}

#toggle-menu-header li {
  display: block;
}

@media (max-width: 1025px) {
  #footer {
    height: auto;
    padding: 30px;
  }
  #footer > .container {
    display: block !important;
  }
  #footer > .container > .right .nav {
    display: block !important;
  }
  #footer > .container > .right .nav .item {
    display: block !important;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #header .item {
    display: none !important;
  }
  #header .menu {
    display: block !important;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1320px;
  height: 100%;
  display: block;
  margin: 0 auto;
}

@media (max-width: 1400px) {
  .container {
    width: 1120px;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 940px;
  }
}

@media (max-width: 1113px) {
  .container #header {
    font-size: 12px !important;
  }
}

@media (max-width: 990px) {
  .container {
    width: 700px;
  }
  .container .aside-text {
    display: block !important;
  }
  .container .aside-text img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100% !important;
  }
  .container .aside-text aside {
    padding-left: 0;
  }
}

@media (max-width: 770px) {
  .container {
    width: 540px;
  }
  .container #header-bg-baner > .content > p {
    width: 410px;
  }
}

@media (max-width: 600px) {
  .container {
    width: 490px;
  }
}

@media (max-width: 500px) {
  .container {
    width: 400px;
  }
  .container #header-bg-baner > .content > p {
    width: 280px;
  }
  .container #header-bg-baner > .content > h2 {
    font-size: 24px;
  }
  .container #header-bg-baner > .content > button {
    display: block;
    margin: 0 auto;
  }
  .container #footer-copyright {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 11px;
  }
  .container #footer-copyright > span:first-child {
    width: 145px;
    overflow: hidden;
  }
}

@media (max-width: 400px) {
  .container {
    width: 340px;
  }
  .container #header-bg-baner > .content > p {
    margin-bottom: 0;
  }
  .container .project-card {
    width: 325px;
  }
  .container .owl-prev {
    left: -30px;
  }
  .container .owl-next {
    right: -30px;
  }
}

.container-row {
  position: relative;
  width: 100%;
  display: block;
}

.btn-border-orange {
  border: 1px #EA4E1B solid;
  color: #EA4E1B;
  -webkit-transition: 300ms;
  transition: 300ms;
  cursor: pointer;
  background-color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  margin: 16px 0;
}

.btn-border-orange:hover {
  background-color: #EA4E1B;
  color: #fff;
}

.btn-orange {
  background-color: #EA4E1B;
  border: none;
  color: #fff;
  display: block;
  margin: 0 auto;
  font-weight: 500;
  padding: 12px 30px;
  border-radius: 4px;
  cursor: pointer;
}

.stack {
  height: 120px;
  margin: 50px 0;
}

.stack img {
  width: 50%;
  height: 110px;
  position: absolute;
}

.stack img.left {
  left: 0;
}

.stack img.right {
  right: 0;
}

.baner-info {
  text-align: center;
  margin-bottom: 20px;
}

.baner-info > .header {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 11px;
}

.owl-carousel .owl-stage-outer {
  padding-bottom: 5px;
}

.owl-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.owl-prev, .owl-next {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.owl-prev img, .owl-next img {
  width: 16px !important;
}

.owl-prev:hover, .owl-next:hover {
  background-color: transparent !important;
}

.owl-prev {
  left: -40px;
}

.owl-next {
  right: -40px;
}

.owl-prev i, .owl-next i {
  -webkit-transform: scale(2, 5);
          transform: scale(2, 5);
  color: #ccc;
}

.owl-nav {
  display: block !important;
}

#header-bg-baner {
  margin: 0 auto;
  max-width: 1255px;
  width: 100%;
  height: 418px;
  background-color: #000;
  background-image: url("../../static/jpg/baner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  position: relative;
  padding-left: 40px;
  padding-top: 102px;
  overflow: hidden;
  color: #fff;
}

#header-bg-baner > .inside {
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

#header-bg-baner > .content {
  position: relative;
  color: #fff;
}

#header-bg-baner > .content > h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 3px;
}

#header-bg-baner > .content > p {
  width: 503px;
  margin-bottom: 37px;
}

#header-bg-baner > .content > .btn-orange {
  background-color: #EA4E1B;
  text-transform: uppercase;
  border: none;
  padding: 16px 50px;
  border-radius: 8px;
  color: inherit;
}

.project-card {
  width: 380px;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.project-card > .header {
  position: relative;
}

.project-card > .header > img {
  width: 100%;
}

.project-card > .header > .footer {
  position: absolute;
  bottom: 15px;
  right: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-card > .header > .footer > button {
  border: none;
  outline: none;
  padding: 5px 15px;
  background-color: #fff;
  cursor: pointer;
}

.project-card > .header > .footer > button:not(:last-child) {
  margin-right: 6px;
}

.project-card > .content {
  position: relative;
  padding: 20px 16px;
}

.project-card > .content > h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 21px;
}

.project-card > .content .item:not(:last-child) {
  margin-bottom: 21px;
}

.project-card > .content .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project-card > .content .item > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-card > .content .item > span > img {
  margin-right: 10px;
}

.project-card > .content .item img {
  width: 16px;
}

.project-card > .content > .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.project-card > .content > .footer button:not(:first-child) {
  margin-right: 10px;
}

.project-card > .content > .footer button {
  border: none;
  background-color: #EA4E1B;
  padding: 8px 15px;
  cursor: pointer;
}

.aside-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 62px;
}

.aside-text .left > img {
  max-width: 613px;
}

.aside-text .right {
  padding-left: 65px;
  padding-top: 10px;
}

.aside-text .right h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 21px;
}

.aside-text .right p {
  margin-bottom: 73px;
}

.inner-card-title {
  position: relative;
  width: 230px;
  height: 175px;
  border: 1px solid #FFD3C5;
  border-radius: 12px;
  display: inline-block;
  padding-top: 20px;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 15px;
  -webkit-transition: 300ms;
  transition: 300ms;
  cursor: pointer;
}

.inner-card-title:not(:last-child) {
  margin-right: 15px;
}

.inner-card-title > img {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.inner-card-title > p {
  text-align: center;
  width: 80%;
  display: block;
  margin: 0 auto;
}

.inner-card-title::after {
  content: "";
  position: absolute;
  z-index: 999;
  width: 100px;
  height: 100px;
  bottom: 0;
  left: 0;
  background-image: url("../../static/icon/stack-small.svg");
  background-position: 0 56px;
  background-repeat: no-repeat;
  background-size: contain;
}

.inner-card-title:hover {
  color: #fff;
  background-color: #EA4E1B;
}

.inner-card-title:hover::after {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.inner-card-title:hover > img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 30px 0;
}

.pages > span {
  cursor: pointer;
  padding: 8px 11px;
  color: #949494;
  border-radius: 4px;
}

.pages > span.active {
  background-color: #EA4E1B;
  color: #fff;
}

#header-lang {
  position: relative;
  overflow: inherit !important;
}

#header-lang > button {
  background-color: transparent;
  border: none;
  outline: none;
  color: inherit;
  cursor: pointer;
}

#header-lang > .content {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px #868686;
          box-shadow: 0 0 5px #868686;
  border-radius: 5px;
  top: 35px;
  display: none;
}

#header-lang > .content > div {
  padding: 8px 16px;
  color: #1f1f1f;
  -webkit-transition: 300ms;
  transition: 300ms;
}

#header-lang > .content > div:hover {
  background-color: #E9E9E9;
}

.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999999999999999999999999999999999;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: none;
}

.popup > .content {
  background-color: #fff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  position: relative;
  top: 60px;
  padding: 48px 24px;
}

.popup > .content > .left, .popup > .content > .right {
  width: 100%;
  padding: 8px 16px;
}

.popup > .content > .left {
  border-right: 1px solid #eee;
}

.popup > .content > .left > * {
  display: block;
}

.popup > .content > .right form > * {
  display: block;
}

.popup h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #1f1f1f;
  margin-bottom: 9px;
}

.popup h4 {
  color: #616062;
  margin-bottom: 15px;
}

.popup p {
  color: #1f1f1f;
  margin-bottom: 5px;
}

.popup input, .popup textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 40px;
  border: none;
  border-bottom: 1px solid #E9E9E9;
  padding: 6px 12px;
  color: #3A3A3A;
  margin-bottom: 10px;
  outline: none;
  -webkit-transition: border-color 300ms;
  transition: border-color 300ms;
}

.popup input:focus, .popup textarea:focus {
  border-bottom-color: #EA4E1B;
}

.popup button {
  width: 100%;
  display: block;
  background-color: #EA4E1B;
  border: none;
  color: #fff;
  padding: 8px 16px;
  margin-bottom: 10px;
  cursor: pointer;
}

.popup .close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  -webkit-transition: 300ms;
  transition: 300ms;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 5px;
}

.popup .close > img {
  display: block;
  margin: 0 auto;
}

.popup .close:hover {
  background-color: #E9E9E9;
}

.popup .close:active {
  background-color: #DEDEDE;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
}

.header > span {
  display: block;
}

.overflow-404 {
  color: rgba(234, 78, 27, 0.5);
  font-family: Montserrat;
  font-size: 144px;
  font-style: normal;
  font-weight: 600;
  line-height: 200px;
  letter-spacing: 0em;
  text-align: center;
}

.description {
  text-align: center;
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 53px;
  color: #787878;
  font-weight: 500;
  font-size: 16px;
}

.description > a {
  position: relative;
  background-color: #EA4E1B;
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
}

.description > a::before, .description > a::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 20px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.description > a::before {
  left: -2px;
  top: -6px;
}

.description > a::after {
  right: -2px;
  bottom: -6px;
}

@media (max-width: 500px) {
  .cont {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@media (max-width: 400px) {
  .cont {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
/*# sourceMappingURL=style.css.map */